<div ng-controller="rootCouch" >
	<div class="left-column">
	    <div class="inner">
	        <div class="category" ng-click="clickCategory(1)" ng-class="{envelop:activeCategory==1}"><div class="arrow"></div><div class="name">Записаться</div><div class="counts"><div></div>&nbsp;<div>{{newT.length}}</div></div></div>
	        <ul class="tournament-list" ng-show="activeCategory==1">
	            <li ng-repeat="tournament in newT | orderBy:'dateStart'" ng-click="chooseActiveS(0,$index)">{{tournament.dateStart | date:'dd.MM.yyyy'}} {{tournament.name}}</li>
	        </ul>
	        <div class="category" ng-click="clickCategory(2)" ng-class="{envelop:activeCategory==2}"><div class="arrow"></div><div class="name">Активные</div><div class="counts"><div></div>&nbsp;<div>{{activeT.length}}</div></div></div>
	        <ul class="tournament-list" ng-show="activeCategory==2">
	            <li ng-repeat="tournament in activeT | orderBy:'dateStart'" ng-click="chooseActiveS(1,$index)">{{tournament.dateStart | date:'dd.MM.yyyy'}} {{tournament.name}}</li>
	        </ul>
	        <div class="category" ng-click="clickCategory(3)" ng-class="{envelop:activeCategory==3}"><div class="arrow"></div><div class="name">Завершенные</div><div class="counts"><div></div>&nbsp;<div>{{oldT.length}}</div></div></div>
	        <ul class="tournament-list" ng-show="activeCategory==3">
	            <li ng-repeat="tournament in oldT | orderBy:'dateStart':true" ng-click="chooseActiveS(2,$index)">{{tournament.dateStart | date:'dd.MM.yyyy'}} {{tournament.name}}</li>
	        </ul>
	    </div>
	</div>
	<div class="right-column" ng-include="activeSubview.url">
		
	</div>
</div>